@import "./assets/fonts/fonts";

@mixin fontFamily($family, $style, $weight, $size, $height) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 1340px;
    max-height: 1240px;
    margin: 0 auto;
    padding-top: 31px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 36px;
}

.header {
    width: 100%;
    max-height: 85px;

    .wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    &_item {
        display: inline-block;
        margin: 0px 15px;
    }
}

.head_title {
    @include fontFamily('Basis Grotesque Pro', normal, 500, 16px, 16px);
    text-align: center;
    padding-left: 115px;
}

.block1 {
    margin: 0 auto;
    width: 100%;
    height: 747px;
    background: url(./assets/Frame.jpg);  
    border: 1px #EAC1BF solid;
    .wrap {
        height: 745px;
        background: url(./assets/Rocks.jpg);
        position: relative;
    }
}

.title-wrap{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -286px;
    margin-top: -204px;
}

.title {
    @include fontFamily('Ogg', normal, 300, 117px, 120px);
    position: relative;
}

.shop_button {
    position: absolute;
    .shop_button_item-1{
        @include fontFamily('Basis Grotesque Pro', normal, 400, 20px, 20px);
    }
    .shop_button_item-2{
        @include fontFamily('Roboto', normal, 400, 20px, 20px);
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    margin-left: 112%;
    margin-top: 15px;
}

.shop_button_text {
    margin-top: -95px;
}

.block2 {
    width: 100%;
    height: 85px;
}

.marquee{
    padding-top: 30px;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
}
     
.marquee p {
    @include fontFamily('Roboto', normal, 400, 24px, 20px);
    letter-spacing: 1px;
    color:#000;
    display:inline-block;
    margin-left: -130px;    
    //animation: marquee 10s infinite linear;
}

/*
@keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 10%)}
} */

.block3 {
    margin: 0 auto;
    width: 100%;
    height: 900px;
    background: url(./assets/bg3_back.jpg); 
    background-size: cover; 
    border: 1px #EAC1BF solid;
    .wrap {
        background: url(./assets/bg3_first.jpg);
        height: 899px;
    }
}

.subwrap {
    max-width: 1160px;
    max-height: 1240px;
    margin: 0 auto;
    padding-top: 31px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 36px;
}