@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Basis Grotesque Pro";
  src: local("./assets/fonts/Basis Grotesque Pro Regular"), local("Basis-Grotesque-Pro-Regular"), url("./assets/fonts/BasisGrotesquePro-Regular.woff2") format("woff2"), url("./assets/fonts/./assets/fonts/BasisGrotesquePro-Regular.woff") format("woff"), url("./assets/fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/fonts/Ogg.woff2") format("woff2"), url("./assets/fonts/Ogg.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  max-width: 1340px;
  max-height: 1240px;
  margin: 0 auto;
  padding-top: 31px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 36px;
}

.header {
  width: 100%;
  max-height: 85px;
}
.header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.nav_item {
  display: inline-block;
  margin: 0px 15px;
}

.head_title {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  padding-left: 115px;
}

.block1 {
  margin: 0 auto;
  width: 100%;
  height: 747px;
  background: url(./assets/backgrounds/Frame.jpg);
  border: 1px #EAC1BF solid;
}
.block1 .wrap {
  height: 745px;
  background: url(./assets/backgrounds/Rocks.jpg);
  position: relative;
}

.title-wrap {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-left: -286px;
  margin-top: -204px;
}

.title {
  font-family: "Ogg";
  font-style: normal;
  font-weight: 300;
  font-size: 117px;
  line-height: 120px;
  position: relative;
}

.shop_button {
  position: absolute;
  margin-left: 112%;
  margin-top: 15px;
}
.shop_button .shop_button_item-1 {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.shop_button .shop_button_item-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.shop_button a {
  text-decoration: none;
  color: #fff;
}

.shop_button_text {
  margin-top: -95px;
}

.block2 {
  width: 100%;
  height: 85px;
}

.marquee {
  padding-top: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000;
  display: inline-block;
  margin-left: -130px;
}

/*
@keyframes marquee{              
    0%{transform: translate(0, 0);}                     Хотел сделать анимацией
    100%{transform: translate(-100%, 10%)}
} */
.block3 {
  margin: 0 auto;
  width: 100%;
  height: 900px;
  background: url(./assets/backgrounds/bg3_back.jpg);
  background-size: cover;
  border: 1px #EAC1BF solid;
}
.block3 .wrap {
  height: 899px;
  padding-top: 46px;
}

.two_blocks {
  display: flex;
  justify-content: space-between;
}
.two_blocks_left {
  width: 580px;
  padding-left: 90px;
  padding-top: 60px;
}
.two_blocks_left p {
  font-family: "Ogg";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
  width: 476px;
}
.two_blocks_left2 {
  padding-top: 195px;
  padding-bottom: 157px;
  padding-left: 94px;
  position: relative;
}
.two_blocks_left2 .black_button {
  position: absolute;
  width: 282px;
  height: 48px;
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin-top: 530px;
  margin-left: -430px;
}
.two_blocks_right {
  width: 771px;
  height: 778px;
  background: url(./assets/backgrounds/bg3_first.jpg);
  padding-left: 170px;
  padding-top: 32px;
}
.two_blocks_right2 {
  width: 243px;
  height: 500px;
  text-align: center;
  margin-top: 273px;
  margin-right: 80px;
  margin-bottom: 190px;
}
.two_blocks_right2 .rewiew {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
}
.two_blocks_right2 .author_of_rewiew {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.two_blocks_right2 img {
  padding-bottom: 39px;
}

.black_button {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-top: 90px;
  text-decoration: none;
  text-align: center;
  padding: 14px 37px;
  border: none;
  border-radius: 32px;
  color: #ffffff;
  background: #000000;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
.black_button:hover {
  background: #121111;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
.black_button:active {
  background: #3b3a3a;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.block4 {
  margin: 0 auto;
  width: 100%;
  height: 960px;
}

.block5 {
  margin: 0 auto;
  width: 100%;
  height: 865px;
  background-size: cover;
  border: 1px #EAC1BF solid;
  z-index: 2;
  position: relative;
}

.features {
  width: 350px;
  height: 504px;
  margin-top: 178px;
}
.features p {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.features .black_button {
  width: 282px;
  height: 48px;
  background: url(./assets/backgrounds/bg_button.jpg);
  background-size: cover;
  text-transform: uppercase;
  color: #000;
  border-radius: 32px;
}
.features .black_button:hover {
  background: #EAC1BF;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
.features .black_button:active {
  background: #dbc49a;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.popular_crystal_list {
  font-family: "Ogg";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 48px;
}
.popular_crystal_list li {
  list-style-type: none;
  padding-left: 58px;
  margin-left: -58px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.popular_crystal_list li:nth-child(1) {
  background: url(./assets/popular_list/roze_qardz.jpg) no-repeat;
  background-position: -2%;
}
.popular_crystal_list li:nth-child(2) {
  background: url(./assets/popular_list/pyrite.jpg) no-repeat;
  background-position: -2%;
}
.popular_crystal_list li:nth-child(3) {
  background: url(./assets/popular_list/shungite.jpg) no-repeat;
  background-position: -2%;
}
.popular_crystal_list li:nth-child(4) {
  background: url(./assets/popular_list/amesthystjpg.jpg) no-repeat;
  background-position: -2%;
}
.popular_crystal_list li:nth-child(5) {
  background: url(./assets/popular_list/selenite.jpg) no-repeat;
  background-position: -2%;
}

.oval {
  width: 659px;
  height: 652px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #FACCBF;
  margin-left: 890px;
  margin-top: -990px;
  position: absolute;
  z-index: 1;
}

.shape_cards {
  display: flex;
  justify-content: space-around;
  margin-top: 178px;
  width: 790px;
}

.cards {
  width: 348px;
  height: 542px;
  border: 1px #EAC1BF solid;
  border-radius: 16px;
  background-color: #fff;
}

.shape_name {
  width: 100%;
  margin-top: 41px;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.shape_price {
  width: 100%;
  margin-top: 52px;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.shape_image_tower {
  margin-top: 114px;
  text-align: center;
}

.shape_image_pyramid {
  margin-top: 70px;
  text-align: center;
}

.block6 {
  width: 100%;
  height: 524px;
  background: #FBF9F9;
}

.intention {
  margin-top: 98px;
  font-family: "Ogg";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 68px;
  text-align: center;
}

.intention_list {
  margin-top: 87px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.intention_description {
  margin-top: 27px;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.intention_item {
  position: relative;
  z-index: 2;
}

.hidden_shadow {
  position: absolute;
  z-index: 1;
  background: rgba(185, 86, 187, 0.35);
  width: 111px;
  height: 112px;
  border-radius: 31px;
  background-position: 50% 50%;
  filter: blur(50px);
  margin-top: -160px;
}

.block7 {
  width: 100%;
  height: 922px;
  border: 1px #EAC1BF solid;
}
.block7 .wrap {
  max-width: 1420px;
  padding-top: 31px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 36px;
}

.gifts_title {
  margin-top: 99px;
  font-family: "Ogg";
  font-style: normal;
  font-weight: 400;
  font-size: 116px;
  line-height: 120px;
  text-align: center;
}

.gifts_list {
  margin-top: 102px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gifts_items {
  width: 436px;
}
.gifts_items_heading {
  margin-top: 12px;
  margin-bottom: 13px;
  font-family: "Ogg";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 48px;
}
.gifts_items_description {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.block8 {
  width: 100%;
  height: 424px;
  background: linear-gradient(270deg, #FFFFFF 45.52%, rgba(255, 255, 255, 0.58) 100%), #EAC1BF;
  border: 1px #EAC1BF solid;
}
.block8 .wrap {
  margin-top: 40px;
  max-width: 1430px;
}

.join_us {
  width: 263px;
  margin-right: 100px;
}
.join_us_title {
  font-family: "Ogg";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 56px;
}
.join_us_description {
  margin-top: 24px;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.join_us .black_button {
  margin-top: 24px;
}

.block9 {
  width: 100%;
  height: 773px;
}
.block9 .wrap {
  max-width: 1440px;
  padding-left: 1px;
  padding-right: 1px;
  display: flex;
  justify-content: space-between;
}

.big_rewiew {
  width: 629px;
  margin-top: 156px;
  text-align: center;
}
.big_rewiew .author_of_rewiew {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.kate_rewiew {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Ogg";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 72px;
  text-align: center;
}

.block10 {
  width: 100%;
  height: 276px;
}
.block10 .hashtags {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 26px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.gallery li {
  width: 210px;
  height: 209px;
}

footer {
  width: 100%;
  height: 491px;
  margin: 0 auto;
  background: url(./assets/backgrounds/bg_footer.jpg);
  background-size: cover;
}

.big_url {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.big_url .COM {
  margin-right: 18px;
}
.big_url .dot {
  margin-top: 118px;
  margin-right: 17px;
}

.links {
  width: 829px;
  height: 84px;
  margin-top: 100px;
}

.link_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.link_list li {
  width: 166px;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.link_list li a {
  text-decoration: none;
  color: #000000;
}

.copyright {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin-top: 18px;
}

/*# sourceMappingURL=style.css.map */
