@import "./assets/fonts/fonts";

@mixin fontFamily($family, $style, $weight, $size, $height) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 1340px;
    max-height: 1240px;
    margin: 0 auto;
    padding-top: 31px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 36px;
}

.header {
    width: 100%;
    max-height: 85px;

    .wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    &_item {
        display: inline-block;
        margin: 0px 15px;
    }
}

.head_title {
    @include fontFamily('Basis Grotesque Pro', normal, 500, 16px, 16px);
    text-align: center;
    padding-left: 115px;
}

.block1 {
    margin: 0 auto;
    width: 100%;
    height: 747px;
    background: url(./assets/Frame.jpg);  
    border: 1px #EAC1BF solid;
    .wrap {
        height: 745px;
        background: url(./assets/Rocks.jpg);
        position: relative;
    }
}

.title-wrap{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -286px;
    margin-top: -204px;
}

.title {
    @include fontFamily('Ogg', normal, 300, 117px, 120px);
    position: relative;
}

.shop_button {
    position: absolute;
    
    .shop_button_item-1{
        @include fontFamily('Basis Grotesque Pro', normal, 400, 20px, 20px);
    }
    .shop_button_item-2{
        @include fontFamily('Roboto', normal, 400, 20px, 20px);
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    margin-left: 112%;
    margin-top: 15px;
}

.shop_button_text {
    margin-top: -95px;
}

.block2 {
    width: 100%;
    height: 85px;
}

.marquee{
    padding-top: 30px;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
}
     
.marquee p {
    @include fontFamily('Roboto', normal, 400, 24px, 20px);
    letter-spacing: 1px;
    color:#000;
    display:inline-block;
    margin-left: -130px;    
    //animation: marquee 10s infinite linear;
}

/*
@keyframes marquee{              
    0%{transform: translate(0, 0);}                     Хотел сделать анимацией
    100%{transform: translate(-100%, 10%)}
} */

.block3 {
    margin: 0 auto;
    width: 100%;
    height: 900px;
    background: url(./assets/bg3_back.jpg); 
    background-size: cover; 
    border: 1px #EAC1BF solid;
    .wrap {
        height: 899px;
        padding-top: 46px;
    }
}

.two_blocks {
    display: flex;
    justify-content: space-between;

    &_left {
        width: 580px;
        padding-left: 90px;
        padding-top: 60px;
        p {
            @include fontFamily('Ogg', normal, 400, 48px, 68px);
            width: 476px;
        }
    }

    &_left2 {
        padding-top: 195px;
        padding-bottom: 157px;
        padding-left: 94px;
        position: relative;

        .black_button {
            position: absolute;
            width: 282px;
            height: 48px;
            color: #000;
            background: rgba(255, 255, 255, 0.8);
            text-transform: uppercase;
            margin-top: 530px;
            margin-left: -430px;
        }
    }

    &_right {
        width: 771px;
        height: 778px;
        background: url(./assets/bg3_first.jpg);
        padding-left: 170px;
        padding-top: 32px;
    }

    &_right2 {
        width: 243px;
        height: 500px;
        text-align: center;
        margin-top: 273px;
        margin-right: 80px;
        margin-bottom: 190px;

        .rewiew {
            @include fontFamily('Basis Grotesque Pro', normal, 400, 16px, 24px);
            padding-bottom: 20px;
        }

        .author_of_rewiew {
            @include fontFamily('Basis Grotesque Pro', normal, 400, 16px, 16px);
            text-transform: uppercase;
            padding-bottom: 20px;
        }

        img {
            padding-bottom: 39px;
        }
    }
}

.black_button {
    @include fontFamily('Basis Grotesque Pro', normal, 500, 20px, 20px);
    margin-top: 90px;
    text-decoration:none; 
    text-align:center; 
    padding:14px 37px; 
    border:none; 
    border-radius: 32px;  
    color:#ffffff; 
    background:#000000; 
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

    &:hover{
        background:#121111; 
        box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }

    &:active {
        background:#3b3a3a; 
        box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }
}

.block4 {
    margin: 0 auto;
    width: 100%;
    height: 960px;
    position: relative;
}

.block5 {
    margin: 0 auto;
    width: 100%;
    height: 865px;
    background-size: cover; 
    border: 1px #EAC1BF solid;
   /* z-index: 2;
    .wrap {
        position: relative;
    } */
}

.features {
    // z-index: 4;
    width: 350px;
    height: 504px;
    margin-top: 178px;
    p {
        @include fontFamily('Basis Grotesque Pro', normal, 400, 16px, 16px);
        text-transform: uppercase;
    }

    .black_button {
        width: 282px;
        height: 48px;
        background: url(./assets/bg_button.jpg);
        background-size: cover;
        text-transform: uppercase;
        color: #000;

        &:hover{
            background:#121111; 
            box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        }
    
        &:active {
            background:#3b3a3a; 
            box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        }
    }
}

.popular_crystal_list {
    @include fontFamily('Ogg', normal, 400, 47px, 48px);
    li {
        list-style-type: none;
        padding-left: 58px;
        margin-left: -58px;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    li:nth-child(1) {
        background: url(./assets/roze_qardz.jpg) no-repeat;
        background-position: -2%;
    }

    li:nth-child(2) {
        background: url(./assets/pyrite.jpg) no-repeat;
        background-position: -2%;
    }

    li:nth-child(3) {
        background: url(./assets/shungite.jpg) no-repeat;
        background-position: -2%;
    }

    li:nth-child(4) {
        background: url(./assets/amesthystjpg.jpg) no-repeat;
        background-position: -2%;
    }

    li:nth-child(5) {
        background: url(./assets/selenite.jpg) no-repeat;
        background-position: -2%;
    }
}

.oval {
    width: 659px;
    height: 652px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #FACCBF;
    margin-left: 590px;
    margin-top: -157px;
    position: absolute;
    z-index: 1;
} 

.shape_cards {
    display: flex;
    justify-content: space-around;
    margin-top: 178px;
    width: 790px;
}

.cards {
    width: 348px;
    height: 542px;
    border: 1px #EAC1BF solid;
    border-radius: 16px;
}